* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: #b2bbc0;
  --pie: #dfd8d2;
}

body {
  font-size: 16px;
  background-color: var(--pie);
}

a {
  text-decoration: none;
  color: black;
}

.clr {
  clear: both;
}

.button {
  margin-top: 0.5rem;
  background-color: var(--pie);
  padding: 0.3rem;
  border-radius: 1rem;
}
.button:hover {
  background-color: var(--blue);
}

.head-container {
  background-color: #bbb;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: #ffdc9b 0.4rem solid;
}

#main-nav ul li {
  padding: 0.2rem 0.8rem 0.2rem 0;
  list-style-type: none;
  display: inline;
  float: right;
}
#main-nav ul li:hover {
  background-color: var(--pie);
}

.container {
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.container section {
  padding: 1rem;
  margin: auto;
}

.container h1 {
  font-size: 2.5rem;
  text-decoration: underline solid 0.5rem var(--blue);
}

.container img {
  width: 75%;
  margin: auto;
  padding: 5rem 0 5rem 0;
}

.container p {
  line-height: 1.6em;
  margin-bottom: 2rem;
}

#contact {
  background-color: #899593;
  padding: 2rem;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#contact .contact-border {
  border: solid 0.7rem var(--pie);
  padding: 2rem;
  border-radius: 45px;
}

label {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: black;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
